.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  